.idea

# dependencies
node_modules
platforms

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

package.json
package-lock.json
/configs/config.js
/configs/webpack.dev.conf.js
/configs/webpack.release.conf.js
package.json
package-lock.json
package.json
package-lock.json
